<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <table class="table">
            <tr class="white">
                <td>
                    <img src="logo" alt ="emoovz">
                </td>
                <td>
                    <span class="titleNav">TRAJET</span>
                    <br/>
                    Orléans
                    <br/>
                    Paris
                </td>
                <td>
                    <span class="titleNav">OFFRE</span>
                    <br/>
                    DÉMÉNAGEMENT
                    <br/>
                    CLASSIQUE
                </td>
                <td>
                    <span class="titleNav">INVENTAIRE</span>
                    <br/>
                    <br/>
                    Inventaire libre
                </td>
                <td>
                    <span class="titleNav black">DATE</span>
                </td>
                <td>
                    <span class="titleNav black">OPTIONS</span>
                </td>
                <td>
                    <span class="titleNav">TOTAL</span> <span class="titleSmall">(à partir de)</span>
                    <br/>
                    <span class="price">XXX,XX €</span>
                    <br/>
                    Paris
                </td>
            </tr>
        </table>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
