{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-6">
            {{ form_start(form) }}{{ form_end(form) }}
            <div class="object">
                En cours
            </div>
        </div>
    </div>



{% endblock %}

{% block stylesheets %}

{% endblock %}
