/* Pour réperer Bootstrap */
[class*="col-"], footer {
    background-color: lightgreen;
    border: 1px solid black;
}

/* COMMUN */
body
{
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url('../image/cuisineFlou.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.white{
    color: white;
}

.black{
    color: black;
}

.tag{
    padding: 5px;
    background-color: green;
    text-align: center;
    cursor: pointer;
}

.tag:hover{
    background-color: yellow;
}



/* COL 1 */
.selector select {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
}

.object {
    height: 100%;
    min-height: 500px;
    width: 600px;
    margin-left: 40px;
    margin-bottom: 20px;
    border: 2px orange ridge;
}

/* COL 2 */
.inventory {
    height: 100%;
    min-height: 500px;
    width: 600px;
    margin-top: 80px;
    margin-left: 40px;
    margin-bottom: 20px;
    border: 2px orange ridge;
}

.buttonModal{
    margin-right: 20px;
}
