/* COMMUN */
body
{
    padding-top: 10px;
    padding-bottom: 10px;
    background: fixed;
    background-image: url('../image/cuisineFlou.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.accroche {
    text-align: center;
    padding-top: 30px;
}

.navimg, .footerimg {
    width: 100%;
}


button.btn:hover, .object.btn:hover {
    color: white;
    text-decoration: none;
}

button.btn, .object.btn {
    margin: 5px;
    background: #4c448f;
    width: auto;
    height: auto;
    color: white;
    border-radius: 0px;
}
button.btn {
    margin: 5px;
    background: #e54380;
    width: auto;
    height: auto;
    color: white;
    border-radius: 0px;
}
.bgGris {
    width: auto;
    color: white;
    height: auto;
    background: grey;
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 5px;
    margin-left: 5px;
    border-left-width: 1px;
    border-left-style: solid;
    padding-left: 12px;
    padding-right: 12px;
    border-right-width: 1px;
    border-right-style: solid;
    margin-right: 5px;
}

.selector {
    margin-bottom: 30px;
    height: 40px;
    margin-top: 10px;
}

.white{
    color: white;
}

.black{
    color: black;
}


.displayNone{
    /*visibility:hidden*/
    margin-right: 0px;}

.RoomTitleSelect {
    margin-left: 230px;
    font-size: 22px;
    color:#0B009A;
}

#addRoom label  {
    margin-left: 5px;
    margin-right: 30px;
    color:#ED6A8D;
}

#addRoom input  {
    margin-left: 5px;
    color:pink;
    background-color: #E8BAE6;
}

#addRoom_32 {
    margin-left: 67px !important;
>>>>>>> 69057bc369033064a9f19a5db717cbee9afaa937
}

/* TAG */
/*.object.btn{*/
    /*padding: 5px;*/
    /*text-align: center;*/
    /*cursor: pointer;*/
    /*margin: 5px;*/
    /*background: #4c448f;*/
    /*width: auto;*/
    /*height: auto;*/
    /*color:white;*/
/*}*/

.tag2{
    /*height: 70px;*/
    padding: 5px;
    background-color: #9A6ED2;
    text-align: center;
}

.tag2 span {
    color:white;
}

.tag3{
    margin-top:10px;
    margin-left:20px;
    text-align: center;
    color:blue;
}


.tag2:hover{
    background-color: #e54380;
}

.number{
    width: 50px;
}


/* COL 1 */
.colonneG {
    display: flex;
    flex-direction: column;
}

.col-xs-2.object.bgGris, .col-xs-2.tag2 {
    width: auto;
}

.col-xs-2.tag2 {
    margin-right: 20px;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}


div#colonneG.col-xs-6.colonneGauche {
    padding-left: 25px;
}

div#objects.row.objLabel {
    margin-right: 20px;
}
.selector {
    margin-bottom: 30px;
    height: 40px;
    margin-top: 10px;
}

#categories h3 { display: inline; }
#categories a { text-decoration: none; }


.navbar-default {
    background-color: #e54380;
}

/* COL 2 */
.inventory {
    height: 100%;
    min-height: 500px;
    width: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-top: 1px ridge;
    border-top-color: #4c448f;
}

.right {
    margin-left: -40px;
}

ul.nav.nav-tabs {
    margin-top: 5px;
    border-bottom: none;
    margin-left: -20px;
}

.buttonModal{
    margin-right: 20px;

}

.addRoom{
    cursor:pointer;
}

.addRoom:hover{
    text-decoration: underline;
}

.addRoomPlus{
    background-color: #BBB0BF;
    margin-left: 0px;
    margin-bottom: 1px;
}

div.row.columns {
    background: white;
    margin-left: 0px;
    margin-right: 0px;
}

.pull-right {
    margin-top: 20px;
    background-color: #4c448f;
    margin-bottom: 20px;
}

button.buttonModal {
    margin-right: 15px;
    color: white;
}

button.buttonModal:hover {
    margin-right: 15px;
    color: white;
}

.row.objLabel {
    margin-left: 0;
    text-align: justify;
    margin-bottom: 20px;
}

